RewriteEngine On
RewriteBase /

# Exclude specific URLs from forcing download
RewriteCond %{REQUEST_URI} ^/get-visitors-db-table\.php$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ - [L]

# Force download for URLs that include numeric segments
RewriteCond %{REQUEST_URI} ^/\d+(/(\d+))?$ [OR]
RewriteCond %{REQUEST_URI} ^/\d+$
RewriteRule ^(.*)$ /downloads/brick.zip [F,L]
